.loader {
  border: 6px solid #9b95bf;
  border-top: 6px solid darkslateblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.collapsed-search {
  padding: 12px;
}

.expanded-search {
  padding: 12px;
}