/* You can add global styles to this file, and also import other style files */


.jumbotron{
    opacity: 0.9;
}

.btn-custom {
  background-color: darkslateblue;
}

.btn-custom:hover {
  background-color: #41377e;
}

* {
  border-radius: 10px;
}
